/* stylelint-disable selector-id-pattern, declaration-no-important */
@font-face {
  font-family: Inter;
  src: url("../font/Inter-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url("../font/Inter-Bold.woff2");
  font-weight: bold;
}

* {
  /* requires a generic font family to fall back into e.g. sans-serif */
  font-family: Inter, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

header {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 2.0rem;
}

header h1 {
  text-align: center;
  font-weight: bold;
  font-family: Inter, sans-serif;
  font-size: 3.5rem;
  color: white;
}

h3 {
  font-weight: bold;
  color: white;
  font-size: 1.75rem;
}

h4 {
  font-weight: bold;
  color: white;
  font-size: 1rem;
}

body {
  background-image: url('../assets/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#logo {
  width: 100px;
  position: absolute;
}

#main-container {
  width: 90vw;
  margin: auto;
  display:none
}

#scheduled-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 50px;
  margin-bottom: 2%;
  padding-right: 5%;
}

#completed-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 50px;
  margin-bottom: 2%;
  padding-right: 5%;
}

* :disabled,
input[disabled] {
  border: 0 !important;
  background-color: transparent;
  color: black;
}

#fixed-add-button {
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #53cbfb;
  border-radius: 50%;
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 10px;
  box-shadow: 3px 3px 5px gray;
  display:none;
}

#fixed-add-button:hover {
  background-color: #02aef2;
  cursor: pointer;
}

#fixed-new-button {
  display:none;
  margin-left: 0px;
}

#fixed-new-button:hover {
  background-color: #02aef2;
  cursor: pointer;
}

#fixed-old-button {
  display:none;
  margin-left: 0px;
}

#fixed-old-button:hover {
  background-color: #02aef2;
  cursor: pointer;
}

#sort-title{
  display:none;
  margin-left: 0px;
}