/* stylelint-disable selector-id-pattern, declaration-no-important */
@font-face {
  font-family: Inter;
  src: url("../font/Inter-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url("../font/Inter-Bold.woff2");
  font-weight: bold;
}

* {
  /* requires a generic font family to fall back into e.g. sans-serif */
  font-family: Inter, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

header {
  margin: 0 auto;
}

header h1 {
  text-align: center;
  font-weight: bold;
  font-family: Inter;
  font-size: 3.5rem;
  color: white;
}

h3 {
  font-weight: bold;
  color: white;
  font-size: 1.75rem;
}

body {
  background-image: url('../assets/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#logo {
  width: 100px;
  position: absolute;
}

#mainContainer {
  width: 90vw;
  margin: auto;
}

#scheduledContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 50px;
  margin-bottom: 2%;
  padding-right: 5%;
  margin: 0 auto;
}

#completedContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 50px;
  margin-bottom: 2%;
  padding-right: 5%;
  margin: 0 auto;
}

* :disabled,
input[disabled] {
  border: 0 !important;
  background-color: transparent;
  color: black;
}

#fixedAddButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  background-color: #4c7faf;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#fixedAddButton:hover,
#cardioButton:hover,
#strengthButton:hover {
  background-color: #4370aa;
  cursor: pointer;
}

#cardioButton, #strengthButton {
  display: block;
  width: 125px;
  height: 50px;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  background-color: #4c7faf;
  color: white;
  transform: scale(0);
}

@keyframes scaleIn {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(0);
  }
}

#cardioButton {
  right: 10px;
  bottom: 70px;
}

#strengthButton {
  right: 100px;
  bottom: 10px;
}


