/* stylelint-disable selector-id-pattern, declaration-no-important */
@font-face {
  font-family: Inter;
  src: url("../font/Inter-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url("../font/Inter-Bold.woff2");
  font-weight: bold;
}

* {
  /* requires a generic font family to fall back into e.g. sans-serif */
  font-family: Inter, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

header {
  margin: 0 auto;
}

header h1 {
  text-align: center;
  font-weight: bold;
  font-family: Inter, sans-serif;
  font-size: 3.5rem;
  color: white;
}

h3 {
  font-weight: bold;
  color: white;
  font-size: 1.75rem;
}

body {
  background-image: url('../assets/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#logo {
  width: 100px;
  position: absolute;
}

#main-container {
  width: 90vw;
  margin: auto;
}
.content {
  padding: 5px;
  margin-top: 5px;
  display: none;
}

button.toggle {
  cursor: pointer;
  padding: 8px 16px;
  margin: 5px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
}

button.toggle:focus {
  outline: none;
}

#toggle-scheduled {
  font-weight: bold;
  font-size: 1.5rem;
}

#scheduled-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 50px;
  margin-bottom: 2%;
  padding-right: 5%;
}

#completed-container {
  display: none;
  grid-template-columns: 33% 33% 33%;
  gap: 50px;
  margin-bottom: 2%;
  padding-right: 5%;
}

* :disabled,
input[disabled] {
  border: 0 !important;
  background-color: transparent;
  color: black;
}

#fixed-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  background-color: #4c7faf;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#fixed-add-button:hover,
#cardio-button:hover,
#strength-button:hover {
  background-color: #4370aa;
  cursor: pointer;
}

#cardio-button, #strength-button {
  display: block;
  width: 125px;
  height: 50px;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  background-color: #4c7faf;
  color: white;
  transform: scale(0);
}

@keyframes scale-in {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}

@keyframes scale-out {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(0);
  }
}

#cardio-button {
  right: 10px;
  bottom: 70px;
}

#strength-button {
  right: 100px;
  bottom: 10px;
}

button {
  background-color:rgba(0, 0, 0, 0);
  border: none;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.15rem;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Inter, sans-serif;
}

button:hover,
button:focus,
button:active,
button:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

